.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner-message {
  color: #e6b400;
}

.bust-message {
  color: red;
  font-weight: 700;
  padding: 4px;
}

.game-buttons-container {
  margin: 10px;
}
